@import "reset";
@import "fonts";
@import "variables";
@import "global";

.header {
    height: 110px;
    padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item:not(:first-child) {
        margin-left: 35px;
    }
    &__list-link {
        color: $title;
        @extend %Roboto-Regular;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 2px;
        transition: color .3s;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            margin: 0 auto;
            width: 0;
            height: 1px;
            bottom: -7px;
            left: 0;
            right: 0;
            background-color: $accent;
            transition: width .3s;
        }

        &:hover {
            color: $accent;
            &::after {
                width: 100%;
            }   
        }
    }
    &__list-link--active {
        color: $accent;
        @extend %Roboto-Bold
    }
}

.user-navigation {
    display: flex;
    &__link {
        position: relative;
        &:not(:first-child) {
            margin-left: 25px;
        }
    }
    &__number {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -9px;
        @extend %Quicksand-Regular;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }
}

.footer {
    background-color: $bg;
    flex-shrink: 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 40px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-color: #ececec;
        height: 1px;
        width: 100%;
        display: block;
        bottom: 0;
    }
    &__contact {
        width: 250px;
        margin-right: 30px;
    }
    &__nav {
        width: 170px;
        margin-right: 30px;
    }
    &__form {
        width: 470px;
    }
    &__image {
        margin-bottom: 35px;
    }
    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__social-item:not(:first-child) {
        margin-left: 13px;
    }
    &__social-link {
        path {
            transition: fill .3s;
        }
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__title {
        color: $title;
        @extend %Roboto-Medium;
        margin-bottom: 35px;
        font-size: 22px;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__form-input {
        max-width: 320px;
        width: 100%;
        padding: 12px 10px 12px 15px;
        color: $default;
        font-weight: 500;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        &::placeholder {
            @extend %Quicksand-Medium;
            font-size: 16px;
            color: $default;
        }
    }
    &__form-btn {
        padding: 12px 18px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        @extend %Roboto-Regular;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    @extend %Quicksand-Medium;
    &__payment-images {
        display: inline;
        margin-left: 25px;
        vertical-align: middle;
    }
}

@import "media";